
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Bawarchi House</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<style>
.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu div {
	text-align: center;
	margin: 2px;
}

li, a {
	color: white;
	font-weight: bolder;
}
.adminLink{
float:right;
position: absolute;
right:10px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-md bg-danger navbar-dark ">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Bawarchi House</a>

		<!-- Toggler/collapsible Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/home}">Restaurant</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/orders}">Orders</a>
				</li>
			</ul>
			<div class="adminLink">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/admin}">Add Item</a>
				</li>
			</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<h1>Menu(<span th:text="${menuitems.size()}"></span>)</h1>
		</div>
		<div class="menu">
			<div th:each="item: ${menuitems}">
				<div>
					<img style="width: 250px; height: 150px; border-radius: 10px"
						th:src="${item.itemImg}" />

				</div>
				<div style="font-weight: bold; color: red;">
					<span th:text="${item.itemName} +'     '"></span><span
						style="font-size: 20px; color: black"
						th:text="${item.hasDiscount} ? '&#9733;':''"></span>
				</div>
				<div style="font-weight: 800; color: grey;"
					th:text="'$ '+ ${item.itemPrice}"></div>
				<div>
					<a class="btn btn-success"
						th:href="@{/menu/{id}(id=${item.itemID})}">Grab</a>
				</div>
			</div>

		</div>
	</div>
</body>
</html>
